@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.side-nav {
  height: 100vh;
  position: sticky;
  top: 5vh;
  
}
