@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

/*** Body ***/

body {
  padding-bottom: 8vh;
}

/************/

/*** Header ***/

header {
  position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
}

/************/

/*** About ***/

.about .col-9 {
  padding-bottom: 8vh;
}

/*** Side Navigation ***/

.side-nav {
  height: 100%;
  position: sticky;
  top: 100px;
  
}

.side-nav li, ::after, ::before {
  margin-bottom: 15px;
}

/************/


